<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% flash[:notice] %>
    <ul>
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/products">
          Products
        </a>
      </li>
      <% if logged %>
        <li>
          <a href="/logout">
            Logout
          </a> | <%= session[:user_name] %>
        </li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
